__pycache__/
.git/
.github/

_analysis/__init__.py
_analysis/clustering.py
_analysis/function.py
_analysis/structure.py

_behavior/
_preprocessing/
envs/
hps/
masks/

_fingerprints.py
_hyperparameterOverview.py
_hyperparameterOverview_overlays.py
_multipleNetworkAnalysis.py
_singleNetworkAnalysis.py
LMM_behavior.R
LMM_marker.R